/* 
  less样式变量 
*/

@app-color: #ff6900;
@app-bgc: #e6e5e5;
/* 
    vant样式
*/
// tarbar
@tabbar-height: 120rem;
@tabbar-item-font-size: 35rem;
@tabbar-item-icon-size: 60rem;

//navbar
@nav-bar-height: 100rem;
@nav-bar-title-font-size: 45rem;
@nav-bar-text-color: black;
@nav-bar-icon-color: black;
// @nav-bar-title-text-color: @app-color;

//badge
@badge-border-width: 20rem;
@badge-padding: 2rem 2rem;
